* {
  margin: 0;
  padding: 0;
}
body {
  background: black;
  color: red;
}
.center {
  display: flex;
  margin-top: 12px;
}

.bar {
  height: 300px;
  width: 900px;
  margin-top: 150px;
  margin-left: 200px;
  color: red;
  border: 3px radius red;
  background-color: black;
}
.bar h1 {
  margin-left: 280px;
}
#name {
  width: 900px;
  display: flex;
  justify-content: space-between;
}

#main {
  width: 900px;
  height: 70px;
  border: 5px solid red;
  margin: auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

#circle1,
#circle2 {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid white;
  margin-top: 8px;
}
.play1 {
  display: flex;
}
.play2 {
  display: flex;
}
#btn {
  display: flex;
  padding-left: 95px;
}
#btn {
  width: 150px;
  display: flex;
  margin-left: 250px;
  justify-content: space-evenly;
  margin-top: 30px;
}
#res {
  margin-left: 300px;
  margin-top: 20px;
}
